@model LosYuyitos.Models.PERSONA

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>PERSONA</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPATERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPATERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APMATERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APMATERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHANACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHANACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENERO1.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENERO1.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALLE) @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMUNA.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMUNA.NOMBRE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.COMUNA.REGION.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMUNA.REGION.NOMBRE)
        </dd>

    </dl>

    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Editar", "Edit", new { id = Model.PERSONAID }, new { @class = "btn btn-default" })
        </div>
    </div>

</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
