@model IEnumerable<LosYuyitos.Models.PERSONA>

@{
    ViewBag.Title = "Persona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Personas</h2>

    <a href="/Persona/Create" class="btn btn-default">Nuevo Registro</a>

    <br /><br />
</div>



<div>
    <table class="table">
        <tr>
            <th>
                @Html.Label("#")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE)
            </th>
            <th>
                @Html.Label("APELLIDOS")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RUT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FECHANACIMIENTO)
            </th>
            <th>
                @Html.Label("DIRECCION")
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONAID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.APPATERNO)
                @Html.DisplayFor(modelItem => item.APMATERNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FECHANACIMIENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CALLE)
                @Html.DisplayFor(modelItem => item.NUMERO)
                -
                @Html.DisplayFor(modelItem => item.COMUNA.NOMBRE)
            </td>
            <td class="d-flex">
                @Html.ActionLink("Editar", "Edit", new { id = item.PERSONAID }, new { @class = "btn btn-primary editar d-none cursor-pointer" })
                @Html.ActionLink("Detalles", "Details", new { id = item.PERSONAID }, new { @class = "btn btn-primary editar d-none cursor-pointer" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.PERSONAID }, new { @class = "btn btn-danger btnEliminar mr-2 cursor-pointer" })
            </td>
        </tr>
        }

    </table>
</div>