@model AlmacenYuyitos.Models.DetallePedido
@{
    ViewBag.Title = "Create";
}
<h2 class="text-center">PASO 2</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "crear-orden" }))
{
    @Html.AntiForgeryToken()



    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Seleccionar Productos</h6>
        </div>
        <div class="card-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ORDENPEDIDO_ORDENPEDIDOID, "ORDEN PEDIDO N°", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" data-val-number="El campo CANTIDAD debe ser un número." id="ORDENPEDIDO_ORDENPEDIDOID" name="ORDENPEDIDO_ORDENPEDIDOID" type="number" value="@ViewBag.ORDENPEDIDO_ORDENPEDIDOID" readonly="readonly">
                            @*@ViewBag.ORDENPEDIDO_ORDENPEDIDOID, class = "form-control", @value = ViewBag.ORDENPEDIDO_ORDENPEDIDOID, @readonly = "readonly" } })*@
                            @Html.ValidationMessageFor(model => model.ORDENPEDIDO_ORDENPEDIDOID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FAMILIAPRODUCTOID, "TIPO PRODUCTO", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.DropDownList("FAMILIAPRODUCTOID", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.FAMILIAPRODUCTOID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.TIPOPRODUCTO_TIPOPRODUCTOID, "MEDIDA PRODUCTO", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.DropDownList("TIPOPRODUCTO_TIPOPRODUCTOID", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TIPOPRODUCTO_TIPOPRODUCTOID, "", new { @class = "text-danger" })
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CANTIDAD, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CANTIDAD, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CANTIDAD, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PRECIOCOMPRA, "VALOR UNITARIO", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PRECIOCOMPRA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PRECIOCOMPRA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    @*<a href="/Persona/Index" class="btn btn-secondary btn-user btn-block">
                            VOLVER
                        </a>*@
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="AGREGAR" class="form-group btn btn-primary btn-user btn-block" />
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    @*<input type="reset" value="LIMPIAR" class="form-group btn btn-secondary btn-user btn-block" />*@
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Productos Ingresados</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="max-content" cellspacing="0">
                    <thead>
                        <tr>
                            @*<th>
                                    ITEM
                                </th>*@
                            <th>
                                UNIDADES
                            </th>
                            <th>
                                PRODUCTO
                            </th>

                            <th>
                                MEDIDA
                            </th>
                            <th>
                                PRECIO UNITARIO
                            </th>
                        </tr>
                    </thead>
                    <tbody id="detalle"></tbody>

                </table>
            </div>
        </div>
    </div>

}
<div class="row">
    <div class="col-md-4 text-center">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                @*<a href="/Persona/Index" class="btn btn-secondary btn-user btn-block">
                        VOLVER
                    </a>*@
            </div>
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <a href="/DetallePedido/Index" class="btn btn-success btn-user btn-block">
                    TERMINAR
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 text-center">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                @*<input type="reset" value="LIMPIAR" class="form-group btn btn-secondary btn-user btn-block" />*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/AgregarDetallePedido.js"></script>

    @*<script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="~/Content/js/demo/datatables-demo.js"></script>
        <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">*@

}