@model AlmacenYuyitos.Models.DETALLEPEDIDO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DETALLEPEDIDO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FAMILIAPRODUCTO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAMILIAPRODUCTO.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORDENPEDIDO.ORDENESTADO_ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORDENPEDIDO.ORDENESTADO_ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOPRODUCTO.UNIDADMEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOPRODUCTO.UNIDADMEDIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANTIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIOCOMPRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIOCOMPRA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
