@model IEnumerable<AlmacenYuyitos.Models.DetallePedido>
@{
    ViewBag.Title = "GetDetalle";
    Layout = null;

}



    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span>@i</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAMILIAPRODUCTO.DESCRIPCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CANTIDAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPOPRODUCTO.UNIDADMEDIDA)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.PRECIOCOMPRA)
            </td>
        </tr>i++;
    }


