@model IEnumerable<AlmacenYuyitos.Models.DETALLEPEDIDO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FAMILIAPRODUCTO.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDENPEDIDO.ORDENESTADO_ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOPRODUCTO.UNIDADMEDIDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIOCOMPRA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FAMILIAPRODUCTO.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDENPEDIDO.ORDENESTADO_ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOPRODUCTO.UNIDADMEDIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CANTIDAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIOCOMPRA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
