@model AlmacenYuyitos.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUCTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FAMILIAPRODUCTO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAMILIAPRODUCTO.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVEEDOR.RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVEEDOR.RUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOPRODUCTO.UNIDADMEDIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOPRODUCTO.UNIDADMEDIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIOVENTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIOVENTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECIOCOMPRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECIOCOMPRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOCK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOCKCRITICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCKCRITICO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHAVENCIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHAVENCIMIENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PRODUCTOID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
