@model IEnumerable<AlmacenYuyitos.Models.PRODUCTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FAMILIAPRODUCTO.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROVEEDOR.RUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOPRODUCTO.UNIDADMEDIDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIOVENTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIOCOMPRA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOCK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOCKCRITICO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAVENCIMIENTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FAMILIAPRODUCTO.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROVEEDOR.RUT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOPRODUCTO.UNIDADMEDIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIOVENTA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRECIOCOMPRA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOCK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOCKCRITICO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAVENCIMIENTO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PRODUCTOID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PRODUCTOID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PRODUCTOID })
        </td>
    </tr>
}

</table>
