@model IEnumerable<LosYuyitos.Models.CLIENTE>

@{
    ViewBag.Title = "Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORIA.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERSONA.NOMBRE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CATEGORIA.NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONA.APPATERNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PERSONA.NOMBRE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CLIENTEID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CLIENTEID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CLIENTEID })
            </td>
        </tr>
    }

</table>