@model IEnumerable<LosYuyitos.Models.PROVEEDOR>

@{
    ViewBag.Title = "Listado Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-6">
            <h2>Personas</h2>

            <a href="/Proveedor/Create" class="btn btn-default">Nuevo Registro</a>
            <br /><br />


        </div>
        <div class="col-6 center-block">
            <p>Escriba algo en el campo de entrada para buscar.</p>
            <input class="form-control" id="myInput" type="text" placeholder="Filtar">
            <br />
        </div>
    </div>
</div>

<h2>Proveedores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@*<div class="container">
    <div class="Row">
        <div class="divTableCell col-lg-4">@Html.DisplayNameFor(model => model.COMUNA.NOMBRE)</div>
        <div class="divTableCell col-lg-4">@Html.DisplayNameFor(model => model.RUBRO.NOMBRE)</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
    </div>
    @foreach (var item in Model)
    {
    <div class="Row">
        <div class="divTableCell col-lg-4">@Html.DisplayFor(modelItem => item.COMUNA.NOMBRE)</div>
        <div class="divTableCell col-lg-4">@Html.DisplayFor(modelItem => item.RUBRO.NOMBRE)</div>
        <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
            }
    </div>*@


<table class="table">
    <tr>
        <th>
            @Html.Label("#")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RAZONSOCIAL)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.TELEFONO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAIL)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CONTACTO)
        </th>
        <th>
            @Html.Label("DIRECCION")
        </th>
        <th></th>
    </tr>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span>@i</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RAZONSOCIAL)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.TELEFONO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAIL)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CONTACTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CALLE)
                @Html.DisplayFor(modelItem => item.NUMERO)
                -
                @Html.DisplayFor(modelItem => item.COMUNA.NOMBRE)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.PROVEEDORID }, new { @class = "btn btn-primary editar d-none cursor-pointer" })
                @Html.ActionLink("Detalles", "Details", new { id = item.PROVEEDORID }, new { @class = "btn btn-primary editar d-none cursor-pointer" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.PROVEEDORID }, new { @class = "btn btn-danger btnEliminar mr-2 cursor-pointer" })
                @*@Html.ActionLink("Edit", "Edit", new { id = item.PROVEEDORID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PROVEEDORID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PROVEEDORID })*@
            </td>
        </tr>
        i++;
    }

</table>
