@model AlmacenYuyitos.Models.PROVEEDOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PROVEEDOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMUNA.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMUNA.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUBRO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUBRO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAZONSOCIAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAZONSOCIAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CALLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CALLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPLEMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPLEMENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PROVEEDORID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
