@model AlmacenYuyitos.Models.PERSONA

@{
    ViewBag.Title = "Detalles";
}


<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">RUT CLIENTE: @Html.DisplayFor(model => model.RUT)</h6>
        </div>
        <div class="card-body">
            <dd>
                NOMBRE COMPLETO:
            </dd>
            <dt>
                @Html.DisplayFor(model => model.NOMBRE) @Html.DisplayFor(model => model.APMATERNO) @Html.DisplayFor(model => model.APMATERNO)
            </dt>
            <br />
            <dd>
                DIRECCION:
            </dd>
            <dt>
                @Html.DisplayFor(model => model.CALLE) @Html.DisplayFor(model => model.NUMERO) @Html.DisplayFor(model => model.COMPLEMENTO)
            </dt>
            <dt>
                @Html.DisplayFor(model => model.COMUNA.NOMBRE)
            </dt>
            <dt>
                @Html.DisplayFor(model => model.COMUNA.REGION.NOMBRE)
            </dt>
            <br />
            <dd>
                @Html.DisplayNameFor(model => model.TELEFONO):
            </dd>

            <dt>
                @Html.DisplayFor(model => model.TELEFONO)
            </dt>

        </div>
    </div>
</div>

<div id="tabla">
    @*VISTA DETALLE LISTADO ORDENES*@
</div>


<div class="row">
    <div class="col-md-6 text-center">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <a href="/Persona/Index" class="btn btn-secondary btn-user btn-block">
                    VOLVER
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <a href="/Persona/Edit/@Model.PERSONAID" class="btn btn-primary btn-user btn-block">
                    EDITAR
                </a>
            </div>
        </div>
    </div>
</div>


@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PERSONAID }, new { @class="btn btn-secondary btn-user btn-block" })
    </p>*@

@section Scripts {
<script>
    $(function () {

    });

    //$('#PROVEEDORID').on('change', function () {
    //    $('#tabla').html('');
    //});

    
        var idOrden = @Model.PERSONAID;
        getDatos(idOrden);
    

    function getDatos(idOrden) {
        $.ajax({
            url: '/VENTADETALLE/Index',
            type: 'POST',
            data: { ordenId: idOrden },
            success: function (result) {
                $('#tabla').html(result);
            },
            error: function () {
            }
        });
    }
</script>
    }
    