@model IEnumerable<AlmacenYuyitos.Models.PERSONA>

@{
    ViewBag.Title = "Index";
}


<div class="text-center">
    <a href="@Url.Action("Create","Persona")" class="btn btn-primary btn-icon-split btn-sm">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Nuevo Registro</span>
    </a>
</div>

<div>
    <br />
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado Clientes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="max-content" cellspacing="0">
                <thead>
                    <tr>
                        <th>RUT</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>F. NACIMIENTO</th>
                        <th>TELEFONO</th>
                        <th>DIRECCION</th>
                        <th>COMUNA</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RUT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.APPATERNO) @Html.DisplayFor(modelItem => item.APMATERNO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FECHANACIMIENTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TELEFONO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CALLE) @Html.DisplayFor(modelItem => item.NUMERO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.COMUNA.NOMBRE)
                            </td>
                            <td>
                                <a href="/Persona/Details/@item.PERSONAID" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                            <td>
                                <a href="/Persona/Edit/@item.PERSONAID" class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </a>
                            </td>
                            <td>
                                <a href="/Persona/Delete/@item.PERSONAID" id=item.PERSONAID class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <a href="@Url.Action("ExportExcel","Persona")" class="btn btn-success btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-download"></i>
            </span>
            <span class="text">Descargar</span>
        </a>
        @*<a href="@Url.Action("ExportExcel","Persona")">Descargar Planilla</a>*@
        <div><hr /></div>
    </div>
</div>



@section Scripts {
    <!-- Page level plugins -->
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

