@model IEnumerable<AlmacenYuyitos.Models.PERSONA>

@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-md-6 text-center">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <a href="@Url.Action("Create", "Persona")" class="btn btn-primary btn-user btn-block">
                    REGISTRAR CLIENTE
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="form-group">
            <div class="col-md-6 offset-md-3">
                <a href="@Url.Action("ExportExcel", "Persona")" class="btn btn-success btn-user btn-block">
                    DESCARGAR EXCEL
                </a>
            </div>
        </div>
    </div>
</div>

<div>
    <br />
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado Clientes</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="max-content" cellspacing="0">
                <thead>
                    <tr>
                        <th>RUT</th>
                        <th>NOMBRE</th>
                        <th>APELLIDOS</th>
                        <th>F. NACIMIENTO</th>
                        <th>TELEFONO</th>
                        <th>DIRECCION</th>
                        <th>COMUNA</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RUT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.APPATERNO) @Html.DisplayFor(modelItem => item.APMATERNO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FECHANACIMIENTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TELEFONO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CALLE) @Html.DisplayFor(modelItem => item.NUMERO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.COMUNA.NOMBRE)
                            </td>
                            <td>
                                <a href="/Persona/Details/@item.PERSONAID" class="btn btn-primary btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                    <span class="text">Detalles</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts {
    <!-- Page level plugins -->
    <script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

